<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>accesskey</string>
		<key>Password</key>
		<false/>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>AWS Access Key</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>secretkey</string>
		<key>Password</key>
		<true/>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>AWS Secret Key</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>bucket</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>S3 Bucket Name</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
